
body {
  align-items: center;
}

.main {
  display: block;
  border: 2px solid black;
  width: 400px;
  height: 600px;
  padding: 30px;
  background-color: #68b3af;
}

.box {
  padding: 16px;
  border-radius: 16px;
}

.message-input {
  bottom: 0;
  height: 100px;
}

#message-container {
  background-color: #474A2C;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
#form-section {
  width: 100%;
  bottom: 20px;
}

#submit {
  background-color: #7f9183;
}

.msg-author {
  font-size: 0.8em;
}
.someone-else {
  float: left;
  border-top-left-radius: 0px;
  background-color: #ecf39e;
}

.me {
  float: right;
  border-bottom-right-radius: 0px;
  background-color: #b4e7ce;
}

.msg {
  display: inline;
  flex-direction: column;
  width: 65%;
  margin: 20px;
}
.time {
  display: inline;
  float: right;
  text-align: right;
  color: #424242;
  font-size: 0.6em;
}
